main {
  margin-top: 2rem;
}

h5 {
  margin-left: 24px;
  text-align: center;
}
p {
  text-align: center;
}
.row {
  display: flex !important;
}
.top-actions {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.title {
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
}

.border-it {
  text-align: center;
}

.border-it p {
  text-align: center;
  padding: 0.35rem;
  transition: all 0.2s ease-in-out;
}

.end-action-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  margin-right: 2rem;
}

.end-action-buttons #start-over {
  margin-right: 0.5rem;
}

#divider {
  width: 90%;
}
